body {
	background-image: url('images/background_tile.jpg');
	background-repeat: repeat;
	background-size: auto;
	background-position: top-left;
	background-blend-mode: multiply
	color: #333333;
	font-family: Arial, sans-serif;
	text-align: center;
}

nav {
	background-color: #333333;
	padding: 10px;
}

nav button{
	background-color: #d12121;
	color: white;
	border: none;
	padding: 10px 15px;
	margin: 5px;
	cursor: pointer;
}

nav button:hover{
	background-color: #c12121;
}

.HorizontalBox{
	display: flex;
	justify-content: space-between;
	margin-left: 400px;
	margin-right: 400px;
	margin-top: 50px;
}

.LeftSide{
	display: block;
	background-color: #e0e0e0;
	text-align: left;
}

@media (hover: hover) {
  .LeftSide:hover {
    background-color: black;
    color: yellow;
  }
}

.RightSide{
	margin-left:100px;
	flex: 0 0 auto;
}

.theLink{
	position: absolute;
	margin-top: 10px;
	width: 100px;
	background-color: #e0e0e0;
}

ul {
	text-align: left;
	display: inline-block;
}

ul li:first-child{
	border: 3px solid red;
	border-radius: 15px 50px;
	padding: 4px;
	font-weight: bold;
}

ul li:nth-child(2){
	border: 3px dashed purple;
	font-style: italic;
}

ul li:last-child{
	display: block;
	background-color: lightblue;
	color: red;
}

#third-el {
	border: 3px solid black;
	border-radius: 15px;
	color: brown;
}