body {
	background-color: #e0e0e0;
	color: #333333;
	font-family: Arial, sans-serif;
	text-align: center;
}

nav {
	background-color: #333333;
	padding: 10px;
}

nav button{
	background-color: #d12121;
	color: white;
	border: none;
	padding: 10px 15px;
	margin: 5px;
	cursor: pointer;
}

nav button:hover{
	background-color: #c12121;
}

.HorizontalBox{
	display: flex;
	justify-content: space-between;
	margin-left: 400px;
	margin-right: 400px;
	margin-top: 50px;
}

.LeftSide{
	text-align: left;
}

.RightSide{
	flex: 0 0 auto;
}

ul {
	text-align: left;
	display: inline-block;
}

ul li:first-child{
	font-weight: bold;
}

ul li:nth-child(2){
	font-style: italic;
}

ul li:last-child{
	color: red;
}

#third-el {
	color: brown;
}